*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    perspective: 100px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #eee;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#nav{
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    top: 0;
    width: 100%;
}
#nav h4{
    font-size: 14px;
    font-family: monument;
    font-weight: 100;
    text-transform: uppercase;
}
#nav i{
    font-size: 17px;
    font-weight: 600;
} 
img{
    height: 450px;
    width: 350px;
    object-fit: cover;
    transition: transform 0.2s;
    object-position: 0% 75%;
    transform-origin: 50% 0;
    perspective: -1000px;
    transform-style: preserve-3d;
}
h3{
    position: absolute;
    font-size: 19px;
    text-transform: uppercase;
    z-index: 99;
    letter-spacing: 0.5px;
    top: 21%;
    width: 49%;
    text-align: center;
    color: white;
    font-family: monument;
    mix-blend-mode: difference;
}
#text1{
    position: absolute;
    top: 29%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#text1::-webkit-scrollbar{
    display: none;
}
#text1>h1{
    display: inline-block;
    font-family: monument;
    font-size: 100px;
    text-transform: uppercase;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
#text2{
    position: absolute;
    top: 45%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#text2::-webkit-scrollbar{
    display: none;
}
#text2>h1{
    display: inline-block;
    font-family: monument;
    font-size: 100px;
    text-transform: uppercase;
    margin-right: 30px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#text3{
    position: absolute;
    top: 60.5%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#text3::-webkit-scrollbar{
    display: none;
}
#text3>h1{
    display: inline-block;
    font-family: monument;
    font-size: 100px;
    text-transform: uppercase;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes scroll{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(calc(-100% - 32px));
    }
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
